{% set details = get_phase_2_print_format_details(doc) %}
{% set pe = details.advance_payment_entry if details else None %}
{% set invoice_type = "Advance Payment Return" %}


{% if letter_head %}
    <div class="letter-head">
        {{ letter_head }}
    </div>
{% endif %}
{% set lang = frappe["form_dict"]["_lang"] %}
{% if lang == "العربية" or lang == "اردو" or lang == "پارسی" %}
    {% set dir = "rtl" %}
{% else %}
    {% set dir = "ltr" %}
{% endif %}
<div class="text-center">
    {% if invoice_type == "Standard" %}
        {% if doc.is_return %}
            <h2>{{ _("Standard Tax Invoice Credit Note") }}</h2>
        {% elif doc.is_debit_note %}
            <h2>{{ _("Standard Tax Invoice Debit Note") }}</h2>
        {% else %}
            <h2>{{ _("Standard Tax Invoice") }}</h2>
        {% endif %}
    {% elif invoice_type == "Simplified" %}
        {% if doc.is_return %}
            <h2>{{ _("Simplified Tax Invoice Credit Note") }}</h2>
        {% elif doc.is_debit_note %}
            <h2>{{ _("Simplified Tax Invoice Debit Note") }}</h2>
        {% else %}
            <h2>{{ _("Simplified Tax Invoice") }}</h2>
        {% endif %}
    {% endif %}
    <div class="row">
        <div class="col-md-6">
        <span>
            <b>{{ _("Invoice ID") }}</b>
            <p>{{ doc.name }}</p>
        </span>
        </div>
        {% if doc.is_return or doc.is_debit_note %}
            {% set additional_references = doc.custom_return_against_additional_references | default([]) %}
            {% set references = (additional_references | map(attribute="sales_invoice") | list) + [doc.return_against] %}
            {% set references = references | select("string") | unique | sort %}

            {% if references | length == 1 %}
                <div class="col-md-6">
            <span>
                <b>{{ _("Return Against") }}</b>
                <p>{{ references[0] or "N/A" }}</p>
            </span>
                </div>
            {% elif references | length > 1 %}
                <div class="col-md-6">
            <span>
                <b>{{ _("Return Against") }}</b>
                <p>{{ _("{0} to {1}").format(references[0], references[-1]) }}</p>
            </span>
                </div>
            {% endif %}
        {% endif %}
        <div class="col-md-6">
        <span>
            <b>{{ _("Posting Date") }}</b>
            <p>{{ doc.get_formatted("posting_date") }}</p>
        </span>
        </div>
    </div>
    <hr>
    <table class="table table-bordered" dir={{ dir }}>
        <tr>
            <td>
                <b>
                    {{ _("Seller Name") }}
                </b>
            </td>
            <td>
                <b>
                    {{ _("Address") }}
                </b>
            </td>
            <td>
                <b>{{ _("Vat Registration Number") }}</b>
            </td>
            <td>
                <b>{{ _(details.seller_other_id_name) }}</b>
            </td>
        </tr>
        <tr>
            <td>
                <p>{{ details.settings.seller_name }}</p>
            </td>
            <td>
                {{ details.address.street }}, {{ details.address.district }}, {{ details.address.city }}
                | {{ details.address.postal_code }}
            </td>
            <td>
                <p>{{ details.settings.vat_registration_number }}</p>
            </td>
            <td>
                {% if  details.seller_other_id %}
                    <p>{{ details.seller_other_id }}</p>
                {% endif %}
            </td>
        </tr>
    </table>
    {% if invoice_type == "Standard" %}
        <table class="table table-bordered" dir={{ dir }}>
            <tr>
                <td>
                    <b>{{ _("Buyer Name") }}</b>
                </td>
                <td>
                    <b>{{ _("Address") }}</b>
                </td>
                <td>
                    <b>{{ _("Vat Registration Number") }}</b>
                </td>
                <td>
                    <b>{{ _(details.buyer_other_id_name) }}</b>
                </td>
            </tr>
            <tr>
                <td>
                    {{ doc.party }}
                </td>
                <td>
                    {{ details.siaf.buyer_street_name }}, {{ details.siaf.buyer_district }}, {{ details.siaf.buyer_city }}, {{ details.siaf.buyer_postal_code }}
                </td>
                <td>
                    {{ details.siaf.buyer_vat_registration_number }}
                </td>
                <td>
                    {% if details.buyer_other_id %}
                        {{ details.buyer_other_id }}
                    {% endif %}
                </td>
            </tr>
        </table>
    {% endif %}

    {% if doc.po_no %}
        <table class="table table-bordered" dir={{ dir }}>
            <tr>
                <td>
                    <b>{{ _("Customer's Purchase Order") }}</b>
                </td>
                <td>
                    <b>{{ _("Customer's Purchase Order Date") }}</b>
                </td>
            </tr>
            <tr>
                <td>
                    {{ doc.po_no }}
                </td>
                <td>
                    {{ doc.po_date }}
                </td>

            </tr>
        </table>
    {% endif %}

    <div class='row'>
        <div class='col-md-3 text-right'>

        </div>
        <div class='col-md-8 text-right'>

        </div>
    </div>

    <table class="table table-bordered" dir={{ dir }}>
        <tbody>
        <tr>
            <th></th>
            <th>{{ _("Products") }}</th>
            <th class="text-center">{{ _("Quantity") }}</th>
            <th>{{ _("Unit Price") }}</th>
            <th>{{ _("Subtotal Before Tax") }}</th>
            <th class="text-center">{{ _("VAT %") }}</th>
            <th class="text-center">{{ _("VAT Amount") }}</th>
            <th class="text-center">{{ _("Total With VAT") }}</th>
        </tr>
        <tr>
            <td style="width: 3%;">{{ 1 }}</td>
            <td style="width: 20%;">
                {{ details.advance_payment_entry.item_name }}
                {% if details.advance_payment_entry.item_code != details.advance_payment_entry.item_name -%}
                    <br>Item Code: {{ details.advance_payment_entry.item_code }}
                {%- endif %}
            </td>

            <td style="width: 10%; text-align: right;">1</td>
            <td style="width: 15%; text-align: right;">{{ frappe.utils.fmt_money(details.advance_payment_entry.net_amount | abs, None, doc.paid_from_account_currency) }}</td>
            <td style="width: 15%; text-align: right;">{{ frappe.utils.fmt_money(details.advance_payment_entry.net_amount | abs, None, doc.paid_from_account_currency) }}</td>
            <td style="width: 10%; text-align: right;">{{ details.advance_payment_entry.tax_rate }} %</td>
            <td style="width: 15%; text-align: right;">{{ frappe.utils.fmt_money(details.advance_payment_entry.tax_amount | abs, None, doc.paid_from_account_currency) }}</td>
            <td style="width: 15%; text-align: right;">{{ frappe.utils.fmt_money(doc.paid_amount | abs, None, doc.paid_from_account_currency) }}</td>
        </tr>
        </tbody>
        <div class="">
            <table class="table table-bordered" dir={{ dir }}>
                <tr>
                    <td>
                        <p>{{ _("Total Taxable Amount") }}</p>
                    </td>
                    <td>
                        <p>{{ frappe.utils.fmt_money(details.advance_payment_entry.net_amount | abs, None, doc.paid_from_account_currency) }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>{{ _("VAT Amount") }}</p>
                    </td>
                    <td>
                        <p>{{ frappe.utils.fmt_money(details.advance_payment_entry.tax_amount | abs, None, doc.paid_from_account_currency) }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>{{ _("Total With VAT") }}</p>
                    </td>
                    <td>
                        <p>{{ frappe.utils.fmt_money(doc.paid_amount | abs, None, doc.paid_from_account_currency) }}</p>
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <div class="text-center">
                {% if details.siaf.qr_image_src %}
                    <img src="{{ details.siaf.qr_image_src }}" width=200 height=200>
                {% else %}
                    <div class="text-center w-100">
                        <p class="h2 text-danger">{{ _("Error : No Qr code") }}</p>
                    </div>
                {% endif %}

            </div>

            {% else %}
            <div style="display: none;">{{ frappe.msgprint( title='Error', msg=_("Does not have active ZATCA Phase 2 Business Settings"), indicator="red" ) }}</div>
            <div class="text-center w-100">
                <p class="h2 text-danger">{{ doc.company }}
                    : {{ _("Does not have active ZATCA Phase 2 Business Settings") }}</p>
            </div>
            {% endif %}
